*{
    font-size:medium;
    justify-items: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    
}

header{
    border-style: solid;
    border-color: mediumorchid;
    border-radius:8px;
    background-color:mediumpurple;
}

nav{
    border-style:solid;
    border-color:mediumorchid;
    border-radius:8px;
    background-color:rebeccapurple;
}
.images{
    float:right;
    display:flex;
    justify-content:left;
    align-items:left;
}
.images1{
    float:left;
    display:flex;
    justify-content:left;
    align-items:left;
}



button:hover{
    border-radius:8px;
    box-shadow: 0 12px 16px 0;
    background-color:mediumpurple;
    
}

footer{
    display: flex;
    position: relative;
    bottom: 0;
}

.container{
    border-style:double;
    border-color:blueviolet;
    border-radius: 16px;
    background-color:darkorchid;
    
}

footer{
    border-style: solid;
    background-color: blueviolet;
}
